@media screen and (min-width: 721px) {
    .forecast{
        display: block;
    }
    #menu {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        color: #f2f2f2;
        list-style-type: none;
        text-align: center;
        margin: 0px;
        text-decoration: none !important;
        padding-left: 0px;
        flex-direction: row;
        justify-content: center;
        
    }
    
    #menu li {
        border-right:1px solid #f2f2f2;
        display: inline;
        padding: 0 10px;
    }

    #menu li.active{
        background-color: #0C486F !important;

    }

    #menu li:hover{
        background-color: #112B48; 
        color: #f2f2f2;

    }
    
    #menu li:last-child {
        border-right: none;
    }
    
    .contact-info{
        grid-template-columns: 1fr 1fr;      
    }
    
    .contact-info h2{
        text-align: left;
    }

    .mapouter{
        padding: 5px 0;
    }
   div.info{
        padding: 0 20%;
        text-align: left;
    }


    /*.gmap_canvas{
        height: 300px;
    }*/
    article{
        position: relative;
        margin: 0 5% 5% 5%;
    }
    article img{
        width: 18%;
        padding: 1%;
        float: right;
        position: absolute;
        right: 5%;
        top: 10%;
        z-index: 1000;
        box-shadow: 0 5px 5px 0 rgb(3,3,3,0.3), 0 7px 12px 0 rgb(3,3,3,0.3);
    }

    article div{
        width: 70%;
    }

    nav{
        text-align: center;
        padding: 0 5px;
        background-color: #B78F7C;
        box-shadow: 0 5px 5px 0 rgb(3,3,3,0.3);
    }


    #menu li:first-child { 
        display: none;
    }
    
    #menu a {
        display: inline-block;
    }

    .gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-item:hover {
        box-shadow: 0 0 50px #333;
    }
    footer p{
        width: 100%;
    }
    header {
        flex-direction: row;
        justify-content: center;
    }


    .town-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .town-grid article:hover {
        box-shadow: 0 0 50px #333;
    }


    .banner h3{
        top: 37%;
        left: 35%;
        font-size: 50px;
    }
}




