@media screen and (min-width: 481px) and
    (max-width: 720px) {

    .gallery-grid{
        grid-template-columns: 1fr 1fr;
    }
    .banner h3{
        top: 25%;
        left: 23%;
        font-size: 45px;
    }
    .weather-summary{
        margin: 0;
    }
    .contact-info{
        grid-template-columns: 1fr 1fr;      
    }
    .info {
        
        text-align: left;
    }

}