
    @font-face {
        font-family: 'Raleway';
        src: url('https://fonts.googleapis.com/css?family=Raleway') ;
    }
    @font-face {
        font-family: 'Roboto Slab';
        src: url('https://fonts.googleapis.com/css?family=Roboto+Slab') ;
    }

    body {
        background-color:white;
        font-family: 'Roboto Slab', serif;
    }

    header {
        margin: 10px 0px auto auto;
        background-color: #112B48;
        border: 1px solid #bbb;
        box-shadow: 0 0 30px #777;
        text-align: center;
        color: #f2f2f2 !important;
    }

    header img, .headings {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }
    header h1{
        font-size: 35px;
        margin-bottom: 0px;
        color: #f2f2f2 !important;
    }

    header h2{
        color: #f2f2f2;
    }

    .motto h2{
        font-style: italic;
        font-size: 15px !important;
        margin-top: 0px !important;
    }

    h1{
        font-size: 30px;
        font-family: 'Raleway' , sans-serif;
        color: #0C486F;
        text-align: center;
    }

    h2{
        font-size: 25px;
        font-family: 'Raleway' , sans-serif;
        color: #B78F7C;
    }

    #menu{
        background-color: #B78F7C;
        color: #f2f2f2;
        list-style-type: none;
        text-align: center;
        margin: 0px;
        text-decoration: none !important;
        padding-left: 0px;
    }

    #menu a:link, a:visited {
        text-decoration: none;
        color: #f2f2f2;

    }
    
    #menu li.active{
        background-color: #0C486F !important;
    }
    

    #menu li:hover{
        background-color: #112B48; 
        color: #f2f2f2;

    }

    footer{
        background-color: #23838E;
        color: #f2f2f2;
        font-size: 14px;
        margin: 10px auto;
        border: 1px solid #bbb;
        box-shadow: 0 0 30px #777;
        text-align: center;
    }

    .mapouter{
        text-align:right;
        height:500px;
        width:100%;
        }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width:100%;
    }

    .contact-info{
        background-color: white;
        padding: 5%;
    }
    .weather-summary{
        background-color: white; 
        padding: 5%;
        position: relative;
    }

    .weather-summary figure{
        margin: auto;
    }
    .weather-summary img{
        width: 100%;
    }
    .weather-summary div{
        background-color: rgba(17, 43, 72, 0.74);
        margin: 5%; 
        padding: 5%;
        float: left;
        position: absolute;
        left: 5%;
        top: 5%;
        z-index: 1000;
        color: #f2f2f2;
        width: auto;
    }

    article{
        background-color: #B78F7C;
        border: #B78F7f;
        border-style: solid;
        padding: 5%;
        margin: 10% 5%;
    }

    article h2{
        color: #f2f2f2;
    }
    article img{
        width: 100%;
    }

    .forecast{
        display: none;
        padding: 5%;
        text-align: center;
    }

    .forecast h2{
        color: #0C486F;
    }
    .forecast table{
        margin: auto;
    }
    .forecast th{
        background-color: #b3dbf7;
        color: #f2f2f2;
        border: 1px solid #0C486F;
        padding: 10px;
    }
    .forecast td {
        border: 1px solid #0C486F;
        padding: 10px;
      }
    .contact-info img{
        width: 15%;
    }

    .contact-info div{
        margin: auto;
    }

    #menu li:first-child { 
        display: block;
    }
    #menu li { 
        display: none;

    }
    #menu a {	
        display: block;	
        padding: .75rem;
    }
    
    /* the onclick JS toggles the .repsonsive class from display none (#menu li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
	.responsive li { 
        display: block !important; 
    }