@media screen and (min-width: 481px) and
    (max-width: 720px) {

    .gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-item img{
        width: 50%;
    }
}